.submit {
   padding: 12px 7px;
   font-size: 18px;
   font-weight: 500;
   background: var(--main-color);
   border: 1px solid var(--main-color);
   border-radius: 15px;
   cursor: pointer;
   transition: all 0.3s;
   text-align: center;
   width: 100%;
   color: #fff;
}

.submit:hover {
   filter: brightness(0.8);
}

.cancel {
   background: #797979;
   border: none;
   color: #fff;
}