.Modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100dvh;
   background: rgba(0,0,0,0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 100000;
}

.modal_body {
   background: #fff;
   padding: 35px 25px 40px;
   border-radius: 20px;
   color: #000;

   width: 100%;
   max-width: 450px;
   /* min-height: 350px; */
   overflow: hidden;
   text-align: center;
   position: relative;
}

.close_btn {
   position: absolute;
   top: 14px;
   right: 14px;
   color: #797979;
}

.success {
   display: flex;
   align-items: center;
   justify-content: center;
}

.success button {
   padding: 3px 16px 4px;
   font-size: 14px;
   color: #fff;
   background: #000;
   border-radius: 100px;
   cursor: pointer;
}


@media (max-width: 500px) {
   .modal_body {max-width: 85%;}
}