.comment_box {
   padding: 0 10px;
}

.comment_box > h5 {
   font-size: 18px;
   margin-bottom: 20px;
   font-weight: 600;
   color: #000;
}

.write_box {
   display: flex;
   flex-direction: column;
   gap: 13px;
   width: 100%;
}

.write_box textarea {
   border-radius: 100px;
   border: 1px solid var(--border-color);
   padding: 10px 20px;
   font-size: 16px;
   font-weight: 500;
   height: fit-content;
}

.write_box textarea::placeholder {
   color: #797979;
   font-weight: 500;
}

.write_box .btn_box {
   display: flex;
   gap: 10px;
   align-self: end;
}

.write_box .btn_box button {
   border-radius: 50px;
   border: 2px solid #2a2a2a;
   font-size: 16px;
   text-align: center;
   padding: 4px 13px;
}

.write_box .btn_box button.cancel {
   background: #fff;
   color: #2a2a2a;
}

.write_box .btn_box button.submit {
   background: #2a2a2a;
   color: #fff;
   font-weight: 600;
}


.list {
   display: grid;
   grid-template-columns: 1fr;
}

.list .item {
   position: relative;
}

.list .item .rply_line {
   position: absolute;
   height: calc(100% - 25px);
   width: 30px;
   top: 0;
}

.list > .item .rply_line {
   left: 0;
}

.list .item .item .rply_line {
   left: 30px;
   height: calc(100% - 35px);
}

.list .item .rply_line::before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   background: #c8c8c1;
   width: 1px;
   height: 100%;
}

.list .item .rply_line::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   background: #c8c8c1;
   width: 15px;
   height: 15px;
   border-radius: 50%;
}

.rply_line .rply_toggle {
   position: absolute;
   bottom: 0;
   left: 23px;
}

.list > .item {
   padding-bottom: 25px;
}

.list > .item .item {
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 100%;
   padding-bottom: 35px;
   padding-left: 30px;
}

.list > .item .content_box {
   padding-bottom: 25px;
   position: relative;
}

.list .item .cmt_header {
   display: flex;
   gap: 15px;
   align-items: center;
}

.list .item .cmt_header .unit {
   display: flex;
   gap: 6px;
   align-items: center;
}

.list .item .cmt_header .unit b {
   font-size: 16px;
}

.list .item .cmt_header .createdAt {
   color: #797979;
   font-size: 14px;
   font-weight: 500;
}

.list .item .cmt_header .edit_status {
   display: flex;
   gap: 6px;
   margin-left: auto;
   align-items: center;
   color: #797979;
   font-size: 14px;
}

.list .item .cmt_header .edit_status .btn_group {
   display: flex;
   align-items: center;
   gap: 12px;
}

.list .item .cmt_header .edit_status button {
   color: inherit;
}

.list .item .cmt_header .edit_status button:hover {
   text-decoration: underline;
   color: #000;
}

.list .item .cmt_header .edit_status .btn_group button:first-child {
   position: relative;
}

.list .item .cmt_header .edit_status .btn_group button:first-child::after {
   content:'';
   position: absolute;
   right: -7px;
   top: 50%;
   transform: translateY(-50%);
   background: #797979;
   height: 90%;
   width: 1px;
}

.content_box .content {
   display: flex;
   flex-direction: column;
   gap: 25px;
   padding-left: 30px;
   width: 100%;
   padding-top: 25px;
}

.content_box .content > .text {
   color: #0A0A0A;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.4;
}

.content_box .content .content_action {
   display: flex;
   gap: 20px;
   align-items: center;
}

.content_box .content .content_action .recommend {
   display: flex;
   align-items: center;
   gap: 6px;
   font-size: 14px;
   font-weight: 500;
}

.content_box .content .content_action .recommend > svg {
   fill: none;
}

.content_box .content .content_action .rply_btn {
   font-size: 16px;
   font-weight: 600;
   color: #1A1A1A;
}

/* .write_box {
   width: 100%;
   padding: 20px 0;
   display: flex;
   align-items: stretch;
   gap: 10px;
}

.write_box textarea {
   width: 100%; max-width: 90%;
   min-height: 150px;
   font-size: 16px;
   padding: 10px;
}

.write_box button {
   border: 1px solid #333;
   padding: 5px;
}

.write_box button:active {
   background: #ddd;
} */