.img {
   border-radius: 50%;
   border: 1px solid #ededed;
   background: #fff;
   overflow: hidden;
   cursor: pointer;
}

.img > img {
   width: 100%;
   object-fit: cover;
   height: 100%;
   max-width: 100%;
}