.login {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.logo {
   margin-bottom: 35px;
}

/* input 상자 */

.input_box {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: start;
}

.input_standard {
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 100%;
   align-items: start;
}

.input_standard > span {
   font-size: 14px;
   color: #000;
   font-weight: 500;
   margin-left: 5px;
}

.input_standard > input {
   border: 1px solid #91918C;
   background: #fff;
   color: #000;
   font-size: 16px;
   padding: 13px 15px;
   border-radius: 15px;
   width: 100%;
}

.input_standard > input::placeholder {
   color: #91918C;
}

/* 비밀번호 버튼 */
.find_pw {
   color: #FE0000;
   font-size: 14px;
   cursor: pointer;
   align-self: start;
   margin-top: 15px;
}

.find_pw:hover {
   text-decoration: underline;
}

.progress_box {
   margin-top: 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   width: 100%;
   gap: 50px;
}

.signup {
   display: flex;
   gap: 7px;
   font-size: 16px;
   line-height: 1.2;
   font-weight: 600;
   width: fit-content;
}

.signup p {color: #000;}

.signup span {
   color: var(--main-color);
   text-decoration: underline;
   cursor: pointer;
}

.signup span:hover {
   filter: brightness(0.8);
}