.signIn {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 40px;
}

.signIn > .title_box {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.signIn > .title_box > h4 {
   font-size: 20px;
   font-weight: bold;
   line-height: 1.2;
   color: #000;
   margin-bottom: 10px;
}

.signIn > .title_box > p {
   font-size: 14px;
   font-weight: 500;
   line-height: 1.4;
   color: #000;
}

/* step public style */
.button_box {
   display: flex;
   gap: 15px;
   width: 100%;
   max-width: 400px;
   margin: 30px auto 0;
}

.button_box > button {
   width: 100%;
}

/* 인증 버튼 */
.ctf_btn {
   width: 100%;
   max-width: fit-content;
   padding: 5px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

button.disabled {
   cursor:not-allowed;
   color: #555;
}