.header {
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   align-items: center;
   padding: 10px 0;
   justify-content: space-between;
   gap: 50px;
   z-index: 1000;
}

.header .login_box {
   display: flex;
   align-items: center;
   gap: 14px;
   position: relative;
}

.header .login_box .user_thumbnail:hover {
   border-color: var(--main-color);
}

.header .login_box .more_btn {
   color: #505050;
   width: 16px;
   cursor: pointer;
}